<!-- {% extends 'main.html' %}

{% block content %}
<style>
    input{
        margin-bottom: 10px;
        padding: 5px;
    }

</style>

    <form method="POST" action="">
        {% csrf_token %}
        <label>First name:
            <input type="text" placeholder="enter yoru first name.." name="first_name">&nbsp;
        </label><br>
        
        <label>Last name:
            <input type="text" placeholder="enter your last name.." name="last_name">&nbsp;
        </label><br>

        <label>Date of birth:
            <input type="datetime">&nbsp;
        </label><br>

        <label>Adress:
            <input type="text">&nbsp;
        </label><br>

        <label >Contact:
            <input type="number">&nbsp;
        </label><br>

        <label>Email:
            <input type="email" name="email">&nbsp;
        </label><br>

        <label>Password:
            <input type="password" name="password">&nbsp;
        </label><br>

        <input type="submit">
    </form>

{% endblock content %} -->